.top-vetted-talent {
  background: linear-gradient(91deg, #f33a56, #6e039f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hire-top-vetted-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-height: 82px;
  max-width: 100%;
}
.heading-content {
  width: 976px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-15xl);
  box-sizing: border-box;
  max-width: 100%;
}
.looking-for-top {
  margin: 0;
  align-self: stretch;
  height: 59px;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 33px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-1200);
  display: inline-block;
  flex-shrink: 0;
}
.heading-container,
.talent-heading {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.heading-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-6xl);
}
.talent-heading {
  width: 1077px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.design {
  position: relative;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
}
.design-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.label {
  align-self: stretch;
  height: 1.5px;
  position: relative;
  border-top: 1.5px solid var(--color-gray-1300);
  box-sizing: border-box;
}
.development {
  flex: 1;
  position: relative;
  line-height: 25px;
  font-weight: 500;
}
.development-title {
  width: 138px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.label-parent {
  align-self: stretch;
  gap: var(--gap-26xl-5);
}
.frame-parent,
.label-parent,
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  gap: var(--gap-35xl);
}
.profile-content {
  width: 184px;
  padding: var(--padding-xl) var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.frame-child {
  height: 69px;
  width: 206px;
  position: relative;
  box-shadow: 0 36px 99px rgba(28, 56, 146, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: none;
}
.profile-pictures-icon {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  min-height: 45px;
  z-index: 1;
}
.developer,
.john-smith {
  position: relative;
  line-height: 23px;
  font-weight: 500;
  background: linear-gradient(94.64deg, #f33a56, #6e039f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-shrink: 0;
  z-index: 1;
}
.john-smith {
  align-self: stretch;
}
.developer {
  width: 72px;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.profile-names {
  align-self: stretch;
  flex-direction: column;
}
.card-container,
.profile-info,
.profile-names,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-info {
  width: 90px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.card-container,
.rectangle-parent {
  flex-direction: row;
}
.rectangle-parent {
  width: 206px;
  box-shadow: 0 36px 99px rgba(28, 56, 146, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.card-container {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 23px 21px;
  min-height: 193px;
}
.frame-item {
  height: 50.9px;
  width: 322px;
  position: relative;
  border-radius: var(--br-8xs);
  display: none;
  max-width: 100%;
}
.explore-all-vetted {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.explore-profiles-button,
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.vector-parent {
  width: 322px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslateblue-200);
  justify-content: flex-start;
  padding: var(--padding-mini-3) var(--padding-38xl) var(--padding-sm-4)
    var(--padding-39xl);
  white-space: nowrap;
}
.explore-profiles-button {
  width: 642px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
}
.talent-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-97xl);
  min-width: 432px;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.lightbulb-hand-drawn-symbol-icon {
  height: 351.6px;
  width: 351.6px;
  position: absolute;
  margin: 0 !important;
  bottom: -264.6px;
  left: -181px;
  object-fit: contain;
}
.lightbulb-hand-drawn-symbol-parent,
.second-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lightbulb-hand-drawn-symbol-parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.second-card-container {
  width: 206px;
  flex-direction: column;
  gap: var(--gap-36xl);
}
.profile-content-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-800);
}
.profile-content-parent,
.vetted-content,
.vetted-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.vetted-content {
  width: 1100px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-71xl);
}
.vetted-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 51.1px var(--padding-3xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-gray-200);
  font-family: var(--font-axiforma);
}
.accelerate-your-business1 {
  background: linear-gradient(91.23deg, #f33a56, #6e039f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accelerate-your-business-thro1 {
  margin: 0;
}
.accelerate-your-business-container1 {
  margin: 0;
  height: 201px;
  width: 646px;
  position: relative;
  font-size: inherit;
  line-height: 0%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.business-acceleration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-46xl) 44px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-gray-200);
  font-family: var(--font-axiforma);
}
.icon-button {
  position: absolute;
  top: 68px;
  left: -39px;
  width: 1574px;
  height: 691px;
  overflow: hidden;
}
.user-3-icon1,
.user1-icon1 {
  position: absolute;
  top: 171px;
  left: -95px;
  width: 276px;
  height: 292px;
  z-index: 1;
}
.user-3-icon1 {
  top: 0;
  left: 1320px;
  width: 172px;
  height: 183px;
}
.instagram-10-11,
.instagram-10-21,
.instagram-10-31 {
  position: absolute;
  top: 662px;
  left: 640px;
  border-radius: var(--br-6xs);
  width: 46.2px;
  height: 46.2px;
  object-fit: cover;
  z-index: 1;
}
.instagram-10-21,
.instagram-10-31 {
  left: 725.2px;
}
.instagram-10-31 {
  left: 810.3px;
}
.user2-icon1 {
  position: absolute;
  top: 646px;
  left: 1155px;
  width: 276px;
  height: 277px;
  z-index: 1;
}
.social-proof1 {
  width: 100%;
  height: 923px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 2168px;
  left: 0;
}
.rm347-porpla-02-a-01-2-icon {
  height: 1335px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.innovation-book-3162169-1-icon,
.innovation-book-3162169-2-icon {
  position: absolute;
  top: 22px;
  left: 0;
  width: 172px;
  height: 172px;
  object-fit: cover;
}
.innovation-book-3162169-2-icon {
  top: 0;
  z-index: 1;
}
.innovation-book-3162169-1-parent {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.collaboration-visual-inner {
  height: 194px;
  width: 172px;
  margin: 0 !important;
  position: absolute;
  top: 3px;
  right: 336px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.innovation-book-3162169-15-icon,
.innovation-book-3162169-16-icon {
  position: absolute;
  top: 23px;
  left: 0;
  width: 190px;
  height: 190px;
  object-fit: cover;
}
.innovation-book-3162169-16-icon {
  top: 0;
  z-index: 1;
}
.double-book {
  height: 213px;
  flex: 1;
  position: relative;
}
.double-book-wrapper {
  width: 190px;
  margin: 0 !important;
  position: absolute;
  top: 430px;
  right: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  z-index: 3;
}
.innovation-book-3162169-17-icon {
  position: absolute;
  top: 28px;
  left: 0;
  width: 190px;
  height: 190px;
  object-fit: cover;
}
.collaboration-visual-child {
  height: 218px;
  width: 190px;
  margin: 0 !important;
  position: absolute;
  right: 358px;
  bottom: 300px;
  flex-direction: row;
  z-index: 3;
}
.collaboration-visual,
.collaboration-visual-child,
.desktop-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collaboration-visual {
  width: 1456px;
  margin: 0 !important;
  position: absolute;
  top: 2804px;
  left: -5px;
  flex-direction: row;
}
.desktop-15 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  gap: 121px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .vetted-content {
    gap: var(--gap-26xl);
  }
}
@media screen and (max-width: 1050px) {
  .business-acceleration {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .hire-top-vetted-container {
    font-size: var(--font-size-21xl);
  }
  .talent-cards {
    gap: var(--gap-39xl);
    min-width: 100%;
  }
  .vetted-content {
    gap: var(--gap-3xl);
  }
  .vetted-content-wrapper {
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
  .accelerate-your-business-container1 {
    font-size: var(--font-size-21xl);
  }
  .desktop-15 {
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 450px) {
  .hire-top-vetted-container {
    font-size: var(--font-size-11xl);
  }
  .looking-for-top {
    font-size: var(--font-size-lg);
    line-height: 26px;
  }
  .vector-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .talent-cards {
    gap: var(--gap-10xl);
  }
  .accelerate-your-business-container1 {
    font-size: var(--font-size-11xl);
  }
  .desktop-15 {
    gap: var(--gap-11xl);
  }
}
